{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-8">
    <div class="card">
      <img src="{% static 'blog/django.jpeg' %}" class="card-img-top" alt="imagen Django">
      <div class="card-body">
        <h5 class="card-title">Título del post</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum porro voluptatum quidem, magnam sequi eum doloribus ducimus, molestiae debitis exercitationem ea facere odit perferendis rerum nostrum facilis perspiciatis pariatur alias!</p>
        <p class="card-text">
          <small class="text-muted">Publicado en...</small>
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-4">

  </div>
</div>
{% endblock content %}
