<div class="container-fuild text-white">
    <div class="row justify-content-center">
        <div class="col-2">
            <h5 class="text-uppercase fw-bold text-info">¿Quiénes somos?</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, accusantium.</p>
        </div>
        <div class="col-4">
            <h5 class="text-uppercase fw-bold text-info">¿Qué pretendemos?</h5>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet vitae quis dolorem at accusamus, quod
                tempore similique repudiandae soluta dolor cumque a quidem laborum perspiciatis odit corrupti corporis, unde
                voluptatum!
            </p>
        </div>
        <div class="col-2">
            <h5 class="text-uppercase fw-bold text-info">Síganos en sus redes</h5>
            <p>
                <i class="bi bi-youtube"></i>
                <a href="#" class="text-white text-decoration-none">YouTube</a>
            </p>
            <p>
                <i class="bi bi-github"></i>
                <a href="#" class="text-white text-decoration-none">GitHub</a>
            </p>
        </div>
    </div>
</div>
